{% extends "base.html" %}
{% block title %}Профайл пользователя {{ user.username }}{% endblock %}
{% block header %}Профайл пользователя {{ user.username }}{% endblock %}

{% block content %}

        <main role="main" class="container">

                        <div class="row">

                                {% include 'user_info.html'%}

                                <div class="col-md-9">

                                {% for post in page %}

                                        {% include "post_item.html" with post=post %}

                                        {% include 'comments.html' with items=post.comments.all %}

                                {% endfor %}

                                <!-- Вывод паджинатора -->
                                {% if page.has_other_pages %}
                                        {% include "paginator.html" with items=page paginator=paginator%}
                                {% endif %}

                                {% if user != request.user %}

                                <li class="list-group-item">
                                        {% if following %}
                                        <a class="btn btn-lg btn-light" 
                                                href="{% url 'profile_unfollow' user.username %}" role="button"> 
                                                Отписаться 
                                        </a> 
                                        {% else %}
                                        <a class="btn btn-lg btn-primary" 
                                                href="{% url 'profile_follow' user.username %}" role="button">
                                        Подписаться 
                                        </a>
                                        {% endif %}
                                    </li>

                                {% endif %}

                                </div>

                        </div>

        </main>

{% endblock %}          