{% extends "base.html" %}
{% block title %}Записи сообщества {{ group.title }} {% endblock %}
{% block header %}Записи сообщества {{ group.title }} | Yatube{% endblock %}

{% block content %}

    <h1>{{ group }}</h1>
    <p>{{ group.description }}</p>

    {% for post in page %}
        {% include "post_item.html" with post=post %}
        <!--<p>{{ post.text|linebreaksbr }}</p>-->
        {% include 'comments.html' with items=post.comments.all %}
    {% endfor %}

    <!-- Вывод паджинатора -->
    {% if page.has_other_pages %}
        {% include "paginator.html" with items=page paginator=paginator%}
    {% endif %}
    
{% endblock %}